
.page {
  display: grid;
  position: relative;
  background:  black;  
  display: grid;
  grid-template-rows: 0px auto 0px;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: min-content;
  font-family: var(--font-geist-sans);
  z-index: 1;
}

.background {
    background: #E7E7CE;
}

.concert {
    width: 60%;
    height: auto;
}

.volunteerText {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -5px;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    font-size: 160px;
}

.weAreVolunteers {
    color: #ed5c10;
    font-size: 50px;
    padding: 25Px;
}

.supported {
    color: #ed5c10;
    font-size: 30px;
    font-family: var(--font-gravity-bold), sans-serif;
    padding: 25px;
}

.tramFestival{
    color:black;
    font-size: 30px;
    font-family: var(--font-gravity-bold), sans-serif;
    padding: 25px;
    text-align: center;
    max-width: 1000px;
}

.volunteerImages {
    height: auto;
    margin: 30px;
}

.pageContent {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    min-height: min-content;
    margin: 50px;
}

.oval {
    margin: 2cap;
    color: black;
    background-image: linear-gradient(to right, yellow 0%, #ed5c10 100%);
    border-radius: 20px;
    padding: 20px;             
    width: max-content;         
    height: auto;
    width: 300px;
    text-align: center;
    font-size: 20px;
}

.trikk {
    position: relative;
    height: auto;
}   

.tram {
    position: relative;
    height: auto;
}   

.age {
    color:black;
    font-size: 30px;
    font-family: var(--font-gravity-bold), sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

.imageGrid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    column-gap: 200px;
    margin-bottom: 30px;
}

.banner {
    width: 100%;
}

.tramShed {
    height: auto;
}

.images {
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    min-height: min-content;
}

.roles {
    color:black;
    font-size: 30px;
    font-family: var(--font-gravity-bold), sans-serif;
    margin: 20 auto;
    text-align: center;
    max-width: 1000px;
}

.apply {
    color:black;
    font-size: 30px;
    font-family: var(--font-gravity-bold), sans-serif;
    margin: 20 auto;
    text-align: center;
    max-width: 1000px;

}

