.page {
  position: relative;
  background:  #0099AD 40%;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 50svh;

  font-family: var(--font-geist-sans);
  z-index: 1;
}

.date {
  position: absolute;
  top: 220px;
  left: 27%;
  z-index: 1;
}

.year {
  position: absolute;
  top: 220px;
  right: 27%;
  z-index: 1;
}

.EXAMM {
  position: absolute;
  top: 20px;
  left: 32%;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 70px;
  right: 30%;
  z-index: 1;
}

.trikk {
  position: absolute;
  top: 330px;
  z-index: 1;
}

.pageContent {
  display: grid;
  background: #E7E7CE;
  color: black;
  z-index: 1;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 50svh;
}

.gap {
  background: #E7E7CE;
  min-height: 250px;
  z-index: 1;
}

.wave {
  position: absolute;
  top: 140px;
  width: 1600px;
  z-index: -1;
}

.musicBanner {
  position: relative;
  margin-bottom: 50px;
}

.tfButton {
  position: relative;
  margin-bottom: 50px;
}

.experience {
  position: relative;
}

.tripleTrikks {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 100px;
  margin-bottom: 50px;
}

.fifteenMin {
  position: relative;
  margin-bottom: 50px;
}

.yellow {
  display: grid;
  column-gap: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.yellowTop {
  margin-top: -10px;
  margin-bottom: -30px;
}

.yellowBottom {
  margin-top: -30px;
  margin-bottom: -10px;
}

.orangeBackground {
  display: grid;
  background-color: #DE6331;
  width: 100%;

  overflow: visible;

  align-items: center;
  justify-items: center;
  align-content: center;
  margin: auto;
 
}

.artistsTitle {
  display: grid;              
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 50%;
  margin: 0 auto;
  min-height: 120px;
}

.artists {
  display: grid;              
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 50px;
}

.seeArtists {
  background: #DE6331;
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.oval {
  background: yellow;
  border-radius: 10px;
  padding: 20px;             
  width: max-content;         
  height: 55px;
  width: 200px;
}

.tramAndDate {
  position: relative;   
  width: 800px;         
  margin: 0 auto;       
}

.tramPic {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.tramDate {
  position: absolute;    
  top: 50%;             
  left: 50%;             
  transform: translate(-50%, -50%);
  z-index: 2;
}

.tripleTrams {
  display: grid;              
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 500px;
  position: relative;
  z-index: 3;
}

.artistNames {
  top: 50px;
  position: relative;
  min-height: 200px;
}

.wavyOrange {
  z-index: 2;
  margin-top: -20px;
  margin-bottom: 100px;
}

.moreInfo {
  display: grid;              
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 100px;
  column-gap: 50px;
  position: relative;
  margin-bottom: 100px;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.photo {
  height: auto;
  margin-bottom: 20px;
  
}

.volunteer {
  display: grid;
  place-items: center;
  margin: auto;
  position: relative;
  
}

.readMore {
  height: auto;
  margin-bottom: 5px;
}

.fromEngen {
  display: grid;
  place-items: center;
  margin: auto;
  position: relative;
}

.endBanners {
  margin-bottom: 50px;
}

.blueWave {
  z-index: 2;
  margin-top: -20px;
  margin-bottom: -10px;
  width: auto;
  overflow: hidden;
  position: relative;
}