.page {
  position: relative;
  background:  #0099AD 40%;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 50svh;


  font-family: var(--font-geist-sans);
  z-index: 1;
}

.date {
  position: absolute;
  top: 220px;
  left: 27%;
  z-index: 1;
}

.year {
  position: absolute;
  top: 220px;
  right: 27%;
  z-index: 1;
}

.EXAMM {
  position: absolute;
  top: 20px;
  left: 32%;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 70px;
  right: 30%;
  z-index: 1;
}

.trikk {
  position: absolute;
  top: 330px;
  z-index: 1;
}

.pageContent {
  background: #E7E7CE;
  color: black;
  z-index: 1;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 50svh;
}

.gap {
  background: #E7E7CE;
  min-height: 250px;
  z-index: 1;
}

.wave {
  position: absolute;
  top: 140px;
  width: 1600px;
  z-index: -1;
}

.musicBanner {
  position: relative;
  margin-bottom: 100px;
}

.experience {
  position: relative;
  margin-bottom: 100px;
}

.tfButton {
  position: relative;
  margin-bottom: 100px;
}