.page {
  position: relative;
  background:  #0A9EDE 40%;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 50svh;
  gap: 64px;

  font-family: var(--font-geist-sans);
}

.date {
  position: absolute;
  top: 220px;
}

.EXAMM {
  position: absolute;
  top:0px;
}

.pageContent{
  background: white;
  color: black;
}