.page {
  position: relative;
  background: #0099AD 40%;
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 30svh;
  z-index: 1;
}

.boxContainer {
  position: relative;
  padding: 20px;
  margin: auto;
  color: #ed5c10;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.box {
  background-color: white;
  max-width: 1000px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  font-family: "Winky Rough", sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin: 10 auto;

}

.box a {
  color: #ed5c10;
  text-decoration: underline;
}

.date {
  position: absolute;
  top: 220px;
  left: 27%;
  z-index: 1;
  font-family: var(--font-gravity-bold);
}

.year {
  position: absolute;
  top: 220px;
  right: 27%;
  z-index: 1;
}



.LOGO_CREAM {
  position: absolute;
  top: 90px;
  left: 31%;
  z-index: 1;
  width: 100px;
  height: auto;
}

.logo {
  position: absolute;
  top: 90px;
  right: 30%;
  z-index: 1;
}

.trikk {
  position: absolute;
  top: 230px;
  z-index: 1;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #E7E7CE;
  color: black;
  z-index: 1;
  min-height: 50svh;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  overflow-x: hidden;
}

.table {
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-gravity-bold), sans-serif;
    margin: 2rem 0;
  }

  thead {
    background: #ed5c10;
    color: #fff;
  }

  th,
  td {
    padding: 14px 18px;
    text-align: center;
    /* <-- center horizontally */
    vertical-align: middle;
    /* <-- center vertically (in case of multi-line) */
  }

  th {
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 500;
  }

  tbody tr {
    border-bottom: 1px solid #eee;
  }

  tbody tr:last-child {
    border-bottom: none;
  }

  tbody tr:nth-child(even) {
    background-color: #f5cfab;
  }


  table[border],
  table[border] * {
    border: none !important;
  }
}


.gap {
  background: #E7E7CE;
  min-height: 100px;
  z-index: 1;
}

.wave {
  position: absolute;
  top: 140px;
  width: 1600px;
  z-index: -1;
}

.musicBanner {
  position: relative;
  margin-bottom: 50px;
}

.tfButton {
  position: relative;
}

.experience {
  position: relative;
  font-size: 40px;
  max-width: 50%;
  text-align: center;
  padding: 50px;
  color: #ed5c10;

  text-shadow:
    -1px -1px 0 #b8480b,  
     1px -1px 0 #b8480b,
    -1px  1px 0 #b8480b,
     1px  1px 0 #b8480b,

}

.tripleTrikks {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  column-gap: 100px;
  margin-bottom: 60px;
}

.fifteenMin {
  position: relative;
  font-size: 40px;
  font-family: var(--font-gravity-bold), sans-serif;
  max-width: 50%;
  margin: 50 auto;
  text-align: center;
}

.yellow {
  display: grid;
  column-gap: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.yellowTop {
  margin-top: -10px;
  margin-bottom: -30px;
}

.yellowBottom {
  margin-top: -30px;
  margin-bottom: -10px;
}

.orangeBackground {
  display: grid;
  background-color: #ed5c10;
  width: 100vw;

  overflow: visible;

  align-items: center;
  justify-items: center;
  align-content: center;
}

.artister_og_programTitle {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  justify-items: center;
  align-content: center;
  width: 100%;
  min-height: 120px;
}

.artister_og_programText {
  font-size: 50px;
  color: yellow;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-top: 25px;
}

.artister_og_program {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  margin: 80px;
  row-gap: 50px;

}

.seeartister_og_program {
  background: #ed5c10;
  width: 100vw;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.oval {
  background: yellow;
  border-radius: 10px;
  padding: 20px;
  width: max-content;
  height: 55px;
  width: 200px;
  margin: 0 auto 20;
  text-align: center;
}

.tramAndDate {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.tramPic {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.tramDate {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.tripleTrams {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 500px;
  position: relative;
  z-index: 3;
}

.artistNames {
  top: 50px;
  position: relative;
  min-height: 200px;
}

.wavyOrange {
  z-index: 2;
  margin-top: -20px;
  margin-bottom: 100px;
}

.moreInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 100px;
  column-gap: 50px;
  position: relative;
  margin-bottom: 100px;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.photo {
  height: auto;
  margin-bottom: 20px;
}

.bli_frivillig {
  display: grid;
  place-items: center;
  margin: auto;
  position: relative;

}

.bli_frivilligTitle {
  font-size: 30px;
  font-family: "House Soft Narrow", sans-serif;
  color: #ed5c10;
  margin: 0 auto;
  text-align: center;
}


.bli_frivilligText {
  font-size: 15px;
  font-family: var(--font-gravity-bold);
  color: #ed5c10;
  margin: 25 auto;
  text-align: center;
  min-width: 400px;
}

.readMore {
  height: auto;
  margin-bottom: 5px;
  color: #E7BD08;
  font-size: 25px;
}

.fromEngen {
  display: grid;
  place-items: center;
  margin: auto;
  position: relative;
}

.endBanners {
  margin-bottom: 50px;
}

.blueWave {
  z-index: 2;
  margin-top: -20px;
  margin-bottom: -10px;
  width: auto;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 1000px) {

  .boxContainer {
    position: relative;
    padding: 20px;
    margin: auto;
    color: #ed5c10;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .boxContainer img {
    position: relative;
    max-width: 100%;
    height: auto;
  }

  .box {
    background-color: white;
    max-width: 1000px;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    font-family: "Winky Rough", sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin: 10 auto;

  }

  .box a {
    color: #ed5c10;
    text-decoration: underline;
  }


  .artister_og_programText {
    font-size: 30px;
    color: yellow;
  }

  .page {
    position: relative;
    background: #0099AD 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* Center items horizontally - might remove */
    align-content: center;
    min-height: 20svh;
    width: 100%;
    z-index: 1;
  }

  .topRow {
    display: grid;
    grid-auto-flow: column;
    /* flow items in a single row */
    grid-auto-columns: auto;
    /* size each column to its content */
    gap: 50px;
    /* space between items */
    align-items: center;
    padding: 15px;
  }

  .date {
    position: static;
    font-size: 1rem;
    text-align: center;
    margin: 10px 0;
    z-index: 1;
    bottom: auto;
    /* reset bottom positioning - might remove*/
  }


  .LOGO_CREAM {
    position: static;
    z-index: 1;
    height: auto;
    width: 80px;
  }

  .logo {
    position: static;
    z-index: 1;
    height: auto;
    width: 80px;
  }

  .trikk {
    position: relative;
    top: 330px;
    /* adjust as needed - might remove*/
    z-index: 1;
    width: 100%;
    top: 50px;
    height: auto;
    margin-top: 10px;
  }

  .pageContent {
    display: flex;
    flex-direction: column;
    background: #E7E7CE;
    color: black;
    z-index: 1;
    align-items: center;
    justify-content: center;
    min-height: 20svh;
    max-width: 100%;
    overflow-x: hidden;
    padding: 0 1rem;
    box-sizing: border-box;
    /* ensure padding is included in width - might remove*/
    width: 100%;
  }

  .gap {
    background: #E7E7CE;
    min-height: 150px;
    z-index: 1;
  }

  .wave {
    position: absolute;
    top: 120px;
    width: 1000%;
    z-index: -1;
  }

  .musicBanner {
    position: static;
    max-width: 100%;
    height: auto;
  }

  .tfButton {
    position: static;
    max-width: 100%;
    height: auto;
  }

  .experience {
    position: static;
    max-width: 90%;
    font-size: 1.2rem;
    padding: 20px;
    color:  #ed5c10;
    height: auto;
    /* adjust as needed  - might remove*/
    text-align: center;

    text-shadow:
    -1px -1px 0 #b8480b,  
     1px -1px 0 #b8480b,
    -1px  1px 0 #b8480b,
     1px  1px 0 #b8480b,
  }

  .tripleTrikks {
    height: auto;
    /* adjust as needed - might remove */
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    /* Single column for small screens - might remove*/
    gap: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .singleTrikk {
    position: static;
    max-width: 100%;
    height: auto;
  }

  .fifteenMin {
    position: static;
    max-width: 90%;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
    height: auto;
    /* adjust as needed - might remove*/
  }

  .yellow {
    display: grid;
    column-gap: 0;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .yellowTop {
    margin-top: -10px;
    margin-bottom: -30px;
    width: 100%;
  }

  .yellowBottom {
    margin-top: -30px;
    margin-bottom: -10px;
    width: 100%;
  }

  .orangeBackground {
    display: flex;
    flex-direction: column;
    background-color: #ed5c10;
    width: 100vw;
    overflow: visible;

    align-items: center;
    /* Center items vertically - might remove*/
    justify-items: center;
    /* Center items horizontally - might remove*/
    align-content: center;
  }

  .table {
    table {
      width: 100%;
      border-collapse: collapse;
      font-family: var(--font-gravity-bold), sans-serif;
      font-weight: bold;
      margin: 2rem 0;
    }

    thead {
      background: #ed5c10;
      color: #fff;
    }

    th,
    td {
      padding: 14px 10px;
      text-align: center;
      /* <-- center horizontally */
      vertical-align: middle;
      /* <-- center vertically (in case of multi-line) */
    }

    th {
      font-size: 0.8rem;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 500;
    }

    tbody tr {
      border-bottom: 1px solid #eee;
    }

    tbody tr:last-child {
      border-bottom: none;
    }

    tbody tr:nth-child(even) {
      background-color: #f5cfab;
    }

    table[border],
    table[border] * {
      border: none !important;
    }
  }



  .artister_og_programTitle {
    display: grid;
    /* might change to flex for better responsiveness - might remove*/
    grid-template-columns: 1fr;
    font-size: clamp(1.3rem, 2vw, 2.5rem);
    text-align: center;
    /* Might remove everything below in this container */
    align-items: center;
    justify-items: center;
    align-content: center;
    font-weight: bold;
    width: 98%;
    max-width: 90%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    margin-bottom: 20px;
  }

  .artister_og_program {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;
    row-gap: 30px;
  }

  .artister_og_program img {
    /* might remove if not needed */
    display: block;
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border-radius: 8px;
  }

  .seeartister_og_program {
    background: #ed5c10;
    width: 100vw;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    box-sizing: border-box;
  }

  .oval {
    background: yellow;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px;
    width: 160px;
    height: 55px;
    width: 200px;
  }

  .tramAndDate {
    position: relative;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .tramPic {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /*position: relative; */
    /*z-index: 1; */
  }

  .tramDate {
    position: absolute;
    font-size: 1rem;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .tripleTrams {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*column-gap: 10px; */
    gap: 20px;
    margin-bottom: 50px;
    width: 100%;
  }

  .artistNames {
    position: static;
    margin-top: 10px;
    text-align: center;
    max-width: 90%;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    width: 100%;
  }

  .wavyOrange {
    z-index: 2;
    margin-top: -20px;
    margin-bottom: 100px;
  }

  .moreInfo {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px auto;
    padding: 0 15px;
    row-gap: 100px;
    column-gap: 50px;
    position: relative;
    margin-bottom: 100px;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
  }

  .photo {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .bli_frivillig {
    display: grid;
    place-items: center;
    margin: auto;
    position: relative;
  }

  .bli_frivilligText {
    font-size: 10px;
  }

  .readMore {
    height: auto;
    margin-bottom: 5px;
  }

  .fromEngen {
    display: grid;
    place-items: center;
    margin: auto;
    position: relative;
  }

  .endBanners {
    width: 100%;
    height: auto;
  }

  .blueWave {
    z-index: 2;
    margin-top: -20px;
    margin-bottom: -10px;
    width: auto;
    overflow: hidden;
    position: relative;
  }

}