.page {
  position: relative;
  background:  #DE6331 40%;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 60svh;


  font-family: var(--font-geist-sans);
  z-index: 1;
}

.title {
  position: relative;
  top: -50px;
  left: -200px;
  z-index: 1;
}

.sequence {
  position: relative;
  top: -30px;
  left: -200px;
  z-index: 1;
}

.date {
  position: relative;
  top: -10px;
  left: -200px;
  z-index: 1;
}

.getongetoff {
  position: relative;
  top: 0px;
  right: -400px;
  margin: 20px;
  z-index: 1;
}

.blackTram {
  position: relative;
  right: -400px;
  margin: 20px;
  z-index: 1;
}



.pageContent {
  background: #E7E7CE;
  color: black;
  z-index: 1;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 50svh;
  margin: 50px;
}

.orangeWave {
  display: grid;
  column-gap: 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-top: -40px;
  
}

.background {
    background: #E7E7CE;
}