.page {
  position: relative;
  background:  #DE6331 40%;

  display: grid;
  grid-auto-rows: min-content;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 60svh;

  font-family: var(--font-geist-sans);
  z-index: 1;
}

.title {
  position: relative;
  top: -50px;
  left: -200px;
  z-index: 1;
}

.sequence {
  position: relative;
  top: -30px;
  left: -200px;
  z-index: 1;
}

.date {
  position: relative;
  top: -10px;
  left: -200px;
  z-index: 1;
}

.getongetoff {
  position: relative;
  top: 0px;
  right: -400px;
  margin: 20px;
  z-index: 1;
}

.artists {
  display: grid;              
  grid-template-columns: repeat(3, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 50px;

}

.blackTram {
  display: grid;
  position: relative;
  right: -420px;
  z-index: 1;
  height: auto;
}

.tramText {
  display: grid;
  position: relative;
  right: -345px;
  margin-bottom: 20px;
  z-index: 1;
  height: auto;
}

.pageContent {
  background: #E7E7CE;
  color: black;
  z-index: 1;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: min-content;
  margin: 50px;
}

.orangeWave {
  display: grid;
  column-gap: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-top: -40px; 
}

.banner {
  background: #E7BD08 no-repeat center/cover;
  transform: rotate(-4deg);
  padding: 10px;
}