.page {
  position: relative;
  background:  #DE6331 40%;

  display: grid;
  grid-auto-rows: min-content;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: 60svh;

  font-family: var(--font-geist-sans);
  z-index: 1;
}

.title {
  position: relative;
  top: -50px;
  left: -200px;
  z-index: 1;
}

.sequence {
  position: relative;
  top: -30px;
  left: -200px;
  z-index: 1;
}

.date {
  position: relative;
  top: -10px;
  left: -200px;
  z-index: 1;
}

.getongetoff {
  position: relative;
  top: 0px;
  right: -400px;
  margin: 20px;
  z-index: 1;
}

.artists {
  display: grid;              
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  row-gap: 50px;
  margin: auto;
  align-items: center;
  justify-items: center;
  align-content: center;
  
}

.blackTram {
  display: grid;
  position: relative;
  right: -420px;
  z-index: 1;
  height: auto;
}

.tramText {
  display: grid;
  position: relative;
  right: -345px;
  margin-bottom: 20px;
  z-index: 1;
  height: auto;
}

.pageContent {
  background: #E7E7CE;
  color: black;
  z-index: 1;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: min-content;
  margin: 50px;
}

.orangeWave {
  display: grid;
  column-gap: 0;
  overflow: hidden;
  position: relative;
  z-index: 0;
  margin-top: -40px; 
}

.banner {
  background: #E7BD08 no-repeat center/cover;
  transform: rotate(-4deg);
  padding: 10px;
}

.background {
  background: #E7E7CE;
}

@media screen and (max-width: 1000px) {

.page {
  background:  #DE6331;

  display: grid;
  grid-template-rows: auto auto auto;
  align-items: center;
  place-items: center;
  min-height: 50svh;

  font-family: var(--font-geist-sans);
  z-index: 1;
}

.title {
  position: static;
  margin: 10px auto;
  text-align: center;
}

.sequence {
  position: static;
  margin: 10px auto;
  text-align: center;
}

.date {
  position: static;
  margin: 10px auto;
  text-align: center;
}

.getongetoff {
  position: static;
  margin: 10px auto;
  text-align: center;
}

.artists {
  display: grid;              
  grid-template-columns: 1fr;
  width: 100%;
  row-gap: 20px;
  margin: auto;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.blackTram {
  position: static;
  margin: 10px 0;
  text-align: center;
}

.tramText {
  position: static;
  margin: 10px 0;
  text-align: center;
}

.pageContent {
  background: #E7E7CE;
  color: black;
  z-index: 1;
  display: grid;
  margin: 20px;
  gap: 20px;
  align-items: center;
}

.orangeWave {
  margin-top: -20px; 
}

.banner {
  background: #E7BD08 no-repeat center/cover;
  transform: rotate(0deg);
  padding: 10px;
}

.background {
  background: #E7E7CE;
}
} 