:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-gravity-bold: 'Gravity Bold', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "House Soft Narrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "House Soft Narrow";
  src: url("/fonts/house-soft-narrow/HouseSoft-NarrowExtraBold.otf")
        format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gravity Bold";
  src: url("/fonts/gravity-bold/GravityBold.otf")
        format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "House Soft Narrow";
  src: url("/fonts/house-soft-narrow/HouseSoft-NarrowExtraBold.otf")
        format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


