.page {
  position: relative;
  background: linear-gradient(to bottom,  #e1c72efa 10%, #0A9EDE 40%);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: linear-gradient(to bottom, orange, rgb(10, 10, 45));
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;    /* center them horizontally */
  grid-row-start: 2;      /* keep it in your 1fr row */
}

.tram {
   position: absolute;
   top: 200px;
}

.music {
  position: absolute;
  top: 180px;
}

.clouds {
  position: absolute;
  top: -35px;
}

.title {
  position: absolute;
  top: 220px; 
}

.date {
  position: absolute;
  top: 50px;
}

.whiteee {
  position: absolute;
}
  
.EXAMM {
  position: absolute;
  left: 155px;
  top: 300px;
}

.artists {
  position: absolute;
  left: 150px;
  top: 400px;
}

.ticket {
  position: absolute;
  left: 150px;
  top: 540px;
}

.events {
  position: absolute;
  left: 150px;
  top: 600px;
}

.faqs {
  position: absolute;
  right: 150px;
  top: 405px;
}

.letter {
  position: absolute;
  right: 150px;
  top: 345px;
}

.contact {
  position: absolute;
  right: 150px;
  top: 400px;
}

.notes {
  position: absolute;
  right: 150px;
  top: 540px;
}

.volunteer {
  position: absolute;
  right: 150px;
  top: 600px;
}


@media screen and (max-width: 600px) {
    .tram {
      position: absolute;

      
    }

    .music {
      position: absolute;
    }
}

