.page {
  position: relative;
  background: linear-gradient(to bottom,  #F0D120 20%, #0A9EDE 40%);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: linear-gradient(to bottom, orange, rgb(10, 10, 45));
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;    /* center them horizontally */
  grid-row-start: 2;      /* keep it in your 1fr row */
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

.tram {
   position: absolute;
   top: 15%;
   left: 28%;
}

.music {
  position: absolute;
  top: 15%;
  left: 25%;
}
  

@media screen and (max-width: 600px) {
    .tram {
      position: absolute;
      top: 30%;
      left: 0%;
    }

    .music {
      position: absolute;
      top: 28%;
      left: 0%;
    }
}

