.page {
  position: relative;

  background: linear-gradient(to top, #de6331 10%, #0A9EDE);    

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    background-color: #de6331 40%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;    /* center them horizontally */
  grid-row-start: 2;      /* keep it in your 1fr row */
}

.tram {
   position: absolute;
   top: 200px;
}

.music {
  position: absolute;
  top: 180px;
}

.clouds {
  position: absolute;
  top: -35px;
}

.title {
  position: absolute;

  top: 300px;
  font-family: "House Soft Narrow", sans-serif;
  font-size: 7rem;   /* adjust as you like */
  margin: 1rem 0;
}

.date {
  position: absolute;
  top: 400px;
  font-family: var(--font-gravity-bold), sans-serif;
  font-size: 2rem;   /* adjust as you like */

}

.date {
  position: absolute;
  top: 50px;
}

.whiteee {
  position: absolute;
}
  
.EXAMM {
  position: absolute;
  left: 160px;
  top: 320px;
  width: auto;
}

.artists {
  position: absolute;
  font-family: var(--font-house-soft);
  font-size: 30px;
  left: 140px;
  top: 400px;
}

.ticket {
  position: absolute;
  left: 150px;
  top: 540px;
}

.events {
  position: absolute;
  font-family: var(--font-house-soft);
  font-size: 30px;
  left: 140px;
  top: 600px;
}

.faqs {
  position: absolute;
  font-family: var(--font-house-soft);
  font-size: 30px;
  right: 150px;
  top: 405px;
}

.letter {
  position: absolute;
  right: 150px;
  top: 345px;
}

.contact {
  position: absolute;
  right: 150px;
  top: 400px;
}

.notes {
  position: absolute;
  right: 150px;
  top: 540px;
}

.volunteer {
  position: absolute;
  font-family: var(--font-house-soft);
  font-size: 30px;
  right: 110px;
  top: 600px;
}

.rail {
  position: absolute;
  bottom: 10px;
}


@media screen and (max-width: 1000px) {
  .page {
    position: relative;
    background: linear-gradient(to top, #DE6331, 90%, #0A9EDE);

    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    gap: 64px;
    font-family: var(--font-geist-sans);
  }

@media (prefers-color-scheme: dark) {
  .page {
    background-color: linear-gradient(to bottom, orange, rgb(10, 10, 45));
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;    /* center them horizontally */
  grid-row-start: 2;      /* keep it in your 1fr row */
}

.tram {
  position: absolute;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  
}

.music {
  position: block;
  top: 11%;
  left: -8%;
  height: auto;
  width: 100%;
}

.clouds {
  position: absolute;
  width: fit-content;
  z-index: 2;
  pointer-events: none;
}

.title {
  position: absolute;
  width: 100%;
  height: auto;
  margin-bottom: 50px;

}

.date {
  position: absolute;
  width: fit-content;
  height: auto;
}
  
.EXAMM {
  position: static;
  align-items: center;
  justify-items: center;
  width: auto;
  z-index: 1;
}

.artists {
  position: static;
  z-index: 1;
}

.ticket {
  position: static;
  z-index: 1;
}

.events {
  position: static;
  z-index: 1;
}

.faqs {
  position: static;
  z-index: 1;
}

.letter {
  position: static;
  z-index: 1;
}

.contact {
  position: static;
  z-index: 1;
}

.notes {
  position: static;
  z-index: 1;
}

.volunteer {
  position: static;
  z-index: 1;
}

.linksGrid {
  display: grid;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin-top: 100%;
  align-items: center;
  justify-items: center;
}
  
}

